@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#header{
	position: relative;
    overflow:hidden;
    width:100%;
    height:568px;
}

#header img{
    position:absolute;
    left:50%;
    width:1280px;
    height:568px;
    margin-left:-640px;
    margin-top: 10px;
}

#slogan{
	position: absolute;
  top: 50%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
	color: #fff;
	line-height: 1.2;
	text-align: center;
}

#slogan h1{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 20px;
	font-weight:normal;
}

#slogan h2{
	font-size: 20px;
	font-weight:normal;
}

/*サイド
-----------------------------------------------------------*/
.sidebar{
	float:right;
	margin-right: 35px;
	position: fixed;
    bottom: 10px; 
    right: 0;
}

.btn-join {
  display:flex;
  position: -webkit-sticky;
  position: sticky;
  font-weight: bold;
  padding: 1em 2em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.btn-join:hover {
  background: #00bcd4;
  color: white;
}

/* フッター
------------------------------------------------------------*/

.footer{
 background-color: #00818a;
 width:100%;
}
.footer li a{
	color: #fff;
}

.footer-main-list {
	display: inline-block;
    margin-top:50px;
	padding: 0 10px;
}

.tel{
	float: right;
	margin-top: 60px;
}

.number_text{
  font-size:30px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.number_phone{
	font-size: 40px;
	margin-bottom: 30px;
}


/*snsボタン*/

.follow-me{
	text-align: center;
}
/*twitter*/
.btn-social-long-twitter {
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 50px;
  width: 170px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  background: #1da1f3;
  overflow: hidden;
  text-decoration:none;
  margin-bottom: 10px;
}

.btn-social-long-twitter .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter span {
  display:inline-block;
  transition: .5s;
}


/* Facebook */
.btn-social-long-facebook {
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  height: 50px;
  width: 190px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  background: #4966a0;
  overflow: hidden;
  text-decoration:none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-social-long-facebook .fa-facebook {
  text-shadow: 2px 2px 1px #224282;
  font-size: 30px;
}

.btn-social-long-facebook span {
  display:inline-block;
  transition: .5s;
}

/*instagram*/
.btn-social-long-insta {
  color: #fff;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 190px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  text-decoration:none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-social-long-insta .fa-instagram {
  font-size: 35px;
  top: 4px;
}

.btn-social-long-insta span {
  display:inline-block;
  transition: .5s
}



/*コピーライト*/
#footer_copyright{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img{
	width: 100%;
	height: auto;
}

section{clear:both;}

section h2{
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}

.inner{
	width: 94%;
	margin: 0 auto;
	padding-bottom: 50px;
}


/* philosophy
------------------------------------------------------------*/

#philosophy{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
	margin-top: 50px;
	position: relative;
}

#philosophy img:hover {
   opacity: 0.6; filter: brightness(110%);
}

.block-inner{
 position: relative;
}

.block-content{
  position: absolute;
  margin-top: -400px;
  margin-left: 250px;
  color: #fff;
  font-size: 20px;
	
}


/* スクールの特徴
------------------------------------------------------------*/

.wrap{
	clear: both;
	width: 100%;
	background: #F0FFF0;
}

.bg{
	line-height: 0;
}
.bg img{
	height:400px;
}

.txt h2{
	padding: 0 0 20px;
}


/* 
------------------------------------------------------------*/
.category li{
	margin-bottom: 50px;
	margin-top: 80px;
}

.category img{
	max-width: 288px;
	display: block;
	margin: -5px auto 20px;
	
}

.category img:hover {
   opacity: 0.6; filter: brightness(110%);
}


/*news
------------------------------------------------------------*/


.news_title{
 text-align: center;
 font-size: 25px;
 margin-bottom: 40px;
}

.news_del hr{
	width:60%;
}
.news_del dl{
	margin-left:40%;
}

/*moreボタン*/

.button{
	text-align: center;
	margin-top: 30px;
}

.more {
  display: inline-block;
  padding: 0.5em 5em;
  text-decoration: none;
  background: #09194f;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.more:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}



/* レスポンシブデザイン設定
------------------------------------------------------------*/

@media only screen and (min-width: 1200px){
	.inner{
		width: 1024px;
		padding-bottom: 120px;
	}
	section h2{
		padding: 70px 0 20px;
	}
	.txt h2{
		padding: 0 0 20px !important;
	}
	
}

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
  a#menu{
		display:none;
	}	

	.panel{
		display:block !important;
		float:left;
		margin-left: 80px;
	}

	#mainnav{
		position:fixed;
		top: 0;
		width:100%;
		z-index:500;
	}

	#mainnav ul{
		text-align: right;
		padding-right: 30px;
	}

	#mainnav li{
		display: inline-block;
		padding: 45px 10px 20px;
		font-size: 14px;
		font-weight: 300;
	}
	
  #mainnav a{
		color: #000;
	}
	
	#mainnav.changeNav{
		background:#f9ce00;
		border-bottom: 3px solid #d1d1d1;
	}
	
	#mainnav.changeNav li{
		padding: 20px 10px;
	}

	/* SEC02 MESSAGE
	-----------------*/
	.txt, .bg{
		width: 50%;
		float: left;
		display: table;
	background: #f6f6f6;
	}

	#sec02_02 .txt, #sec02_02 .bg{
		float: right;
	}

	.vMid{
		display: table-cell;
		padding: 0 100px;
		vertical-align: middle;
	}
    
	/* カテゴリー
	-----------------*/
	.category{
		text-align: center;
	}

	.category li{
		display: inline-block;
		width: 30%;
		padding: 0 1.5%;
		margin-bottom: 0;
		vertical-align: top;
		text-align: left;
	}
	
    
	/* footer
	-----------------*/
	
  #footer{
		padding: 30px 10px 70px 0;
	}
}

@media only screen and (min-width: 641px){
	.col2 li{
		width: 40%;
		padding: 0 3%;
		vertical-align: top;
	}
	
}

@media only screen and (max-width: 640px){
	#map iframe{
	  width: 96% !important;
		left: 2%;
	}
	
	.block-inner{
		margin-left: 30%;
	}
	
	.block-content{
	 margin-left: 20%;
	 text-align: center;
	}
	
	.news_del hr{
     width:80%;
    }

   .news_del dl{
	margin-left:0;
	font-size: 15px;
    }
}

@media only screen and (max-width: 799px){
	#slogan h1{
		font-size: 31px;
	}

	#slogan h2{
		font-size: 16px;
	}

  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #fff;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #fff;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}
	
	/*philosophy*/
	
	.block-inner{
		text-align: center;
		margin-left: 6%;
	}
	
	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.category li{
		margin: 0 auto;
		display: block;
	max-width: 288px;
	}
	
	.news_del hr{
     width:80%;
    }

   .news_del dl{
	margin-left:20%;
    }
	
}

@media only screen and (max-width: 1199px){
	section h2{
		padding: 50px 0 20px 0;
	}
	
	#philosophy{
	  width:100%;
	}
	
	#philosophy img{
	 height: 500px;
	}
	
	.block-inner{
	 text-align: center;
	}
	
	.block-content{
    font-size: 15px;
	margin-left: 0;
     }
	
	#sec01 h2{
		padding: 70px 0 20px;
	}
	.vMid{
		padding: 0 20px;
	}
	
	
	/*tel*/
	
	.tel{
	 width:100%;
	}
	
	.number_text{
	 width:100%;
	 font-size:20px;
	 text-align: center;
	}
	
	.number_phone{
    width: 100%;
	text-align: center;
	}
	
	
	.news_del hr{
     width:80%;
    }

   .news_del dl{
	margin-left:35%;
    }
    
}
